<a href="https://colab.research.google.com/github/freddy-7/proyecto1/blob/main/introducci%C3%B3n%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving fileee.csv to fileee.csv

In [4]:
#Importar archivo desde un dispositivo local
import pandas as pd 
import io 
  
df = pd.read_csv(io.BytesIO(uploaded['fileee.csv'])) 
print(df)


#Importar archivo desde Github

#url = 'copied_raw_github_link'
#df = pd.read_csv(url)

      Periodo  Trimestre Entidad_Federativa     Sexo  \
0        2005          1           Nacional  Hombres
1        2005          1           Nacional  Mujeres
2        2005          1     Aguascalientes  Hombres
3        2005          1     Aguascalientes  Mujeres
4        2005          1    Baja California  Hombres
...       ...        ...                ...      ...
4549     2022          1           Veracruz  Mujeres
4550     2022          1            Yucat n  Hombres
4551     2022          1            Yucat n  Mujeres
4552     2022          1          Zacatecas  Hombres
4553     2022          1          Zacatecas  Mujeres

     Poblacion_ocupada_en_la_industria_manufacturera Poblaci n_ocupada  \
0                                            4384907          26597801
1                                            2690296          14843275
2                                              56407            246177
3                                              28430            145656
4                                             167651            768989
...                                              ...               ...
4549                                          107640           1190733
4550                                          101992            691397
4551                                           82759            478943
4552                                           44105            402326
4553                                           39472            255761

     Tasa_de_ocupaci n_en_la_industria_manufacturera0000000000000
0                              16.485975660000000000000
1                              18.124679360000000000000
2                              22.913188480000000000000
3                              19.518591750000000000000
4                              21.801482210000000000000
...                                                 ...
4549                           9.0398099320000000000000
4550                           14.751582670000000000000
4551                           17.279509250000000000000
4552                           10.962503040000000000000
4553                            15.43315830000000000000

[4554 rows x 7 columns]

In [5]:
df

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera0000000000000
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...,...
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [7]:
#filtro básico 
E=df[df["Sexo"] == "Hombres"]
E

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera0000000000000
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
6,2005,1,Baja California Sur,Hombres,9349,148814,6.2823390270000000000000
8,2005,1,Campeche,Hombres,17032,206708,8.2396423940000000000000
...,...,...,...,...,...,...,...
4544,2022,1,Tamaulipas,Hombres,237733,953568,24.930891140000000000000
4546,2022,1,Tlaxcala,Hombres,78609,352261,22.31555580000000000000
4548,2022,1,Veracruz,Hombres,185815,2020105,9.1982842480000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000

In [10]:
#Convertir archivo filtrado a CSV
E.to_csv("E_CSV.csv")

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera0000000000000
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
6,2005,1,Baja California Sur,Hombres,9349,148814,6.2823390270000000000000
8,2005,1,Campeche,Hombres,17032,206708,8.2396423940000000000000
...,...,...,...,...,...,...,...
4544,2022,1,Tamaulipas,Hombres,237733,953568,24.930891140000000000000
4546,2022,1,Tlaxcala,Hombres,78609,352261,22.31555580000000000000
4548,2022,1,Veracruz,Hombres,185815,2020105,9.1982842480000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000

In [11]:
from google.colab import files 
  
  
files.download("E_CSV.csv")